{% extends 'auctions/layout.html' %}

{% block body %}


<div class="category-grid">
  {% for category in categories %}
    <a href="{% url 'category' %}?query={{ query }}&category={{ category.id }}">
      <button class="btn btn-info p-3">{{ category.name }}</button>
    </a>
  {% endfor %}
</div>


<div class="listing-grid">
  {% for listing in listings %}
    {% if not listing.sold %}
    <div class="listing-card">
      <img class="listing-img" src="{{ listing.image_url }}" alt="Card img" />
      <div class="listing-content">
        <a href="{% url 'listing' listing.id %}">
          <h5 class="listing-title">{{ listing.title }}</h5>
        </a>
        <p class="p-2">{{ listing.description }}</p>
        <p>Price: <strong>${{ listing.starting_bid }}</strong> </p>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
      
{% endblock %}