{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>

<div class="listing-grid">
   {% for listing in listings %}
     <div class="listing-card">
       <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
       <div class="listing-card-body">
         <a href="{% url 'listing' listing.id %}">
           <h5 class="listing-title">{{ listing.title }}</h5>
         </a>
         <p>{{ listing.description }}</p>
         <p>Price: <strong>${{ listing.starting_bid }}</strong></p>
       </div>
     </div>
   {% endfor %}
 </div>
 
{% endblock %}